body { 
 .confetti { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

}

    .container{
      width: 100%;
      height: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
        position: relative;

    }

    img{
      width: 40%;
      height: 50%;
            border-radius: 50%;
    }

    .links-twitter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .links-twitter a {
width: 20%;
    }


    .links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .links-container a {
      width: 80%;
    }

    .w3-theme-l1:hover {
      background-color: #f279a1 !important;
    }

    .margin-top-2 {
      margin-top: 32px;
    }

    .bottom {
      width: 100%;
      text-align: center;
      width: auto;
      font-weight: bolder;
    }

    .bottom span {
      color: #ed4d82;
    }

    .bottom svg {
      stroke: #ed4d82;
      fill: #ed4d82;
    }

    @media (min-width: 768px) {
      .link {
        width: 100%;
      }
    }
    @media (min-width: 576px) {
      .container {
        max-width: 540px;
      }
    }